## mako

<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("Inscripcion")}</%block>
<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
<style>
    
@media (min-width: 10px){
    .inputwidth1{
		margin-right: 0px;
    }
    .inputwidth2{
		margin-right: 0px;
    }
    .inputwidth3{
		margin-right: 0px;
	}
}
@media (min-width: 750px){
    .inputwidth1{
		margin-right: 319px;
    }
    .inputwidth2{
		margin-right: 413px;
    }
   
}
@media (min-width: 870px){   
    .inputwidth3{
		margin-right: 505px;
	}
}

</style>
<div class="row">
    <div class="col-md-4">       
        <a href="export/">
            <button style="text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:block;" >Exportar Usuario</button>
        </a>
    </div>
</div>
<h1>Inscripción de Alumnos</h1>
    <div style="text-align: center">
        <form method="POST">
           <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
            % if context.get('saved', UNDEFINED) == 'saved':
                <p style="color:rgb(56, 181, 197); margin-bottom: 15px;">Datos Guardados Correctamente.</p>
                % if context.get('run_saved', UNDEFINED) is not UNDEFINED:
                    % if run_saved['run_saved_force'] != "":
                        <p id="run_saved_force" style="color:rgb(56, 181, 197); margin-bottom: 15px;">Runs Creados e inscritos: ${run_saved['run_saved_force']}</p>
                    % endif
                    % if run_saved['run_saved_force_no_auto'] != "":
                        <p id="run_saved_force_no_auto" style="color:rgb(56, 181, 197); margin-bottom: 15px;">Runs Inscritos Pendientes: ${run_saved['run_saved_force_no_auto']}</p>
                    % endif
                    % if run_saved['run_saved_pending'] != "":
                        <p id="run_saved_pending" style="color:rgb(56, 181, 197); margin-bottom: 15px;">Runs Pendientes: ${run_saved['run_saved_pending']}</p>
                    % endif
                    % if run_saved['run_saved_enroll'] != "":
                        <p id="run_saved_enroll" style="color:rgb(56, 181, 197); margin-bottom: 15px;">Runs Inscritos: ${run_saved['run_saved_enroll']}</p>
                    % endif
                    % if run_saved['run_saved_enroll_no_auto'] != "":
                        <p id="run_saved_enroll_no_auto" style="color:rgb(56, 181, 197); margin-bottom: 15px;">Runs Inscritos Pendientes: ${run_saved['run_saved_enroll_no_auto']}</p>
                    % endif
                % endif
            % endif
            % if context.get('run_malos', UNDEFINED) is not UNDEFINED:
                <p id="run_malos" style="color:firebrick; margin-bottom: 15px;">Estos Runs están incorrectos: ${run_malos}.</p>
            % endif
            % if context.get('no_run', UNDEFINED) is not UNDEFINED:
                <p id="no_run" style="color:firebrick; margin-bottom: 15px;">Falta agregar run.</p>
            % endif            
            % if context.get('curso2', UNDEFINED) is not UNDEFINED:
                <p id="curso2" style="color:firebrick; margin-bottom: 15px;">Falta agregar curso.</p>
            % endif
            % if context.get('error_curso', UNDEFINED) is not UNDEFINED:
                <p style="color:firebrick; margin-bottom: 15px;">Curso no existe.</p>
            % endif
            % if context.get('error_mode', UNDEFINED) is not UNDEFINED:
                <p style="color:firebrick; margin-bottom: 15px;">El modo esta incorrecto.</p>
            % endif
            <div class="form-group" style="margin: 15px 15px;">
                <label for="runs" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">RUN(s):</label>
                
                % if context.get('runs', UNDEFINED) is not UNDEFINED:
                    <textarea style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif" type="text" name='runs' id="runs" placeholder="12345678-k&#10;12345678-k">${runs}</textarea>                    
                % else:
                    <textarea style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif" type="text" name='runs' id="runs" placeholder="12345678-k&#10;12345678-k"></textarea>
                % endif
                
            </div>
            <div class="form-group" style="margin: 15px 15px;">
                <label for="course" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">ID Curso:</label>
                % if context.get('curso', UNDEFINED) is not UNDEFINED:
                    <input style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;margin-right: 13px;" type="text" name='course' id="course"  placeholder="course-v1:mss+MSS001+2019_2" value="${curso}"></input>                    
                % else:
                    <input style="min-width: 400px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;margin-right: 13px;" type="text" name='course' id='course' placeholder="course-v1:mss+MSS001+2019_2"></input>
                % endif
                
            </div>
            <div class="form-group" style="margin: 15px 15px;">
                <label for="modes" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Modo:</label>
                <select class="inputwidth1" style="font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" name='modes'>
                    % if context.get('modo', UNDEFINED) == 'honor':
                        <option value="audit">audit</option>
                        <option value="honor" selected>honor</option>
                    % else:
                        <option value="audit" selected>audit</option>
                        <option value="honor">honor</option>
                    % endif
                </select>
            </div>
            <div class="form-group" style="margin: 15px 15px;">
                <label for="enroll" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Auto Enroll:</label>
                % if context.get('auto_enroll', UNDEFINED) is False:
                    <input class="inputwidth2" type="checkbox"  name='enroll' id='enroll' value="1"></input>
                % else:
                    <input class="inputwidth2" type="checkbox"  name='enroll' id='enroll' value="1" checked></input>
                % endif
            </div>
            <div class="form-group" style="margin: 15px 15px;">
                <label for="force" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Forzar Creación Usuario:</label>
                <input type="checkbox" class="inputwidth3" name='force' id='force' value="1"></input>               
            </div>
            <input type="submit" style="text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:block; margin: auto" value="Enviar">
        </form>
    </div>
</main>